<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/fontawesome.css">
    <link rel="stylesheet" href="../assets/css/templatemo-edu-meeting.css">
    <link rel="stylesheet" href="../denemee.css">
    <style>
        body {
            background: url('../assets/images/meetings-bg.jpg') no-repeat center center fixed;
            background-size: cover;
        }
    </style>
</head>
<body>
  <div id="header-placeholder"></div>
  <script>
    fetch("../Header/header.html")
      .then(response => response.text())
      .then(data => {
          document.getElementById("header-placeholder").innerHTML = data;
      });
  </script>
<div class='bold-line'></div>
<div class='container'>
  <div class='window'>
    <div class='overlay'></div>
    <div class='content'>
      <h2 style='text-align: center; color: #f5a425;'>Sign Up</h2>
      <div class='input-fields'>
        <input type='text' placeholder='Username' class='input-line full-width'>
        <input type='email' placeholder='Email' class='input-line full-width'>
        <input type='password' placeholder='Password' class='input-line full-width'>
      </div>
      <div><button class='ghost-round full-width'>Create Account</button></div>
    </div>
  </div>
</div>
  <div id="footer-placeholder"></div>
  <script>
    fetch("../Footer/footer.html")
      .then(response => response.text())
      .then(data => {
          document.getElementById("footer-placeholder").innerHTML = data;
      });
  </script>
  <script src="../vendor/jquery/jquery.min.js"></script>
  <script src="../vendor/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
